/* 
  1. Global styles
  2. Header
  3. Nav
  4. Main
  5. Footer
  6. Responsive
*/

/* 
 === Global Styles ===
*/
:root {
  --background: #f2faf8;
  --green: #04e762;
  --dark-green: #134611;
  --light-green: #96e072;
  --extra-light-green: #d9f4e0;
  --viridian-green: #558b6e;
  --nyanza: #e8fccf;
  --raspberry: #ba3b46;
  --violet: #573280;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 
  === HEADER ===
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.logo a img {
  width: 150px;
  height: 90px;
}

/* 
  === NAV === 
*/
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-item {
  margin-right: 10px;
}

.menu-link {
  text-decoration: none;
  display: inline-block;
  color: var(--dark-green);
  font-weight: bold;
  padding: 15px 20px;
  border-bottom: 5px solid var(--background);
}

.menu-link.active {
  background-color: var(--dark-green);
  color: var(--extra-light-green);
  border-bottom: 5px solid var(--dark-green);
}

.menu-link:hover {
  border-bottom: 5px solid var(--green);
}

.toggle {
  display: none;
  text-align: center;
  padding: 10px;
  color: var(--dark-green);
  font-weight: bold;
}

.cart-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header-auth ul li a:last-of-type {
  margin-left: auto;
}

#cart {
  color: var(--dark-green);
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
}

#cart:hover {
  background-color: var(--viridian-green);
  color: var(--extra-light-green);
  border: none;
}

/* 
  === MAIN ===
*/
main {
  display: flex;
  flex-direction: column;
}

/* 
  === FOOTER ===
*/
footer {
  background-color: #558b6e;
}

.footer-content {
  margin: 20px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation,
.contact,
.facebook-page {
  width: 33.33%;
  padding: 20px;
}

.navigation h2,
.contact h2,
.facebook-page h2 {
  color: #76e7cd;
  padding-bottom: 5px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.navigation ul li {
  width: 40%;
}

.navigation ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--nyanza);
}

.contact ul li {
  margin: 15px;
}

.contact ul li p {
  color: var(--extra-light-green);
  /* display: inline-block; */
}

.contact ul li p:first-child {
  color: var(--nyanza);
  font-weight: bold;
  font-style: italic;
}

.contact ul li p:not(p:first-child) {
  padding-left: 15px;
}

.contact ul li p i {
  margin-right: 5px;
}

.facebook-page iframe {
  width: 100%;
}

.disclaimer {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  color: var(--extra-light-green);
  color: var(--dark-green);
  background-color: var(--extra-light-green);
}

/* 
  === RESPONSIVE ===
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header,
  nav,
  .promotion {
    width: 85%;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    justify-content: space-around;
  }

  .logo a img {
    width: 120px;
    height: 70px;
  }

  .menu-link {
    padding: 10px;
    font-size: 14px;
  }

  #cart {
    padding: 8px;
    font-size: 13px;
  }

  .footer-content {
    margin: 0;
    padding: 10px;
  }

  .navigation h2,
  .contact h2,
  .facebook-page h2 {
    font-size: 15px;
  }

  .navigation ul li a,
  .contact ul li p {
    font-size: 12px;
  }

  .facebook-page iframe {
    height: 260px;
  }

  .disclaimer {
    font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    justify-content: space-between;
    padding: 10px 20px;
  }

  /* Responsive navigation */
  nav {
    margin-bottom: 10px;
    padding: 0;
  }

  nav ul {
    display: none;
  }

  .toggle {
    display: block;
  }

  .show-items {
    display: block;
    border-bottom: 1px solid var(--viridian-green);
  }

  .show-items li {
    margin: 15px;
  }

  .show-items li .menu-link {
    display: block;
  }
  /* End responsive navigation */

  .logo a img {
    width: 100px;
    height: 65px;
  }

  .cart-container {
    margin: 0;
  }

  .menu-link,
  .header-auth ul li a,
  #cart {
    padding: 10px;
    font-size: 10px;
  }

  .facebook-page iframe {
    height: 200px;
  }

  .footer-content {
    margin: 0;
    padding: 5px;
  }

  .navigation h2,
  .contact h2,
  .facebook-page h2 {
    font-size: 13px;
  }

  .contact ul li {
    margin: 0;
  }

  .navigation ul li a,
  .contact ul li p {
    font-size: 10px;
    padding: 6px;
    margin: 0;
  }

  .disclaimer {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 767px and down) */
@media only screen and (max-width: 767px) {
  header {
    justify-content: space-between;
    padding: 5px 10px;
  }

  .logo a img {
    width: 80px;
    height: 50px;
  }

  /* Responsive navigation */
  nav {
    margin-bottom: 8px;
    padding: 0;
  }

  nav ul {
    display: none;
  }

  .toggle {
    display: block;
  }

  .show-items {
    display: block;
    border-bottom: 1px solid var(--viridian-green);
  }

  .show-items li {
    margin: 15px;
  }

  .show-items li .menu-link {
    display: block;
  }
  /* End responsive navigation */

  .menu-link,
  #cart {
    padding: 8px;
    font-size: 8px;
  }

  .facebook-page iframe {
    height: 160px;
  }

  .footer-content {
    margin: 0;
    padding: 5px;
  }

  .navigation h2,
  .contact h2,
  .facebook-page h2 {
    font-size: 10px;
  }

  .contact ul li {
    margin: 0;
  }

  .navigation ul li a,
  .contact ul li p {
    font-size: 8px;
    padding: 5px;
    margin: 0;
  }

  .disclaimer {
    font-size: 6px;
  }
}
