.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
}

.products-container h1 {
  font-size: 25px;
  margin: 0;
  color: var(--dark-green);
  border-bottom: 5px solid var(--light-green);
  padding-bottom: 10px;
}

.products-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

aside {
  width: 30%;
  margin: 0 30px;
  padding: 20px;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
}

aside h2 {
  padding-bottom: 5px;
  border-bottom: 5px solid var(--dark-green);
}

.filter-toggle {
  display: none;
  text-align: left;
  padding: 10px;
  color: var(--dark-green);
  font-weight: bold;
}

.show-filter {
  margin: auto;
  padding: 10px;
  width: 95%;
}

.show-filter h2 {
  font-size: 13px;
  border-bottom: 1px solid var(--dark-green);
}

.show-filter label, .show-filter input {
  font-size: 9px;
}

.search-box {
  position: relative;
}

#search-text {
  padding: 8px;
  width: 100%;
}

.search-box input[type="submit"] {
  position: absolute;
  padding: 8px;
  background-color: var(--raspberry);
  color: var(--extra-light-green);
  top: 0;
  right: 0;
}

input[type="checkbox"] {
  margin-right: 15px;
}

.category-filter ul li,
.type-filter ul li {
  padding: 5px;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.filter-buttons input[type="reset"] {
  background-color: #505551;
  color: white;
  border: none;
}

.filter-buttons input[type="submit"] {
  padding: 10px 15px;
  background-color: var(--light-green);
  border: none;
}

.filter-buttons input[type="reset"]:hover,
.filter-buttons input[type="submit"]:hover {
  background-color: var(--raspberry);
  cursor: pointer;
  color: white;
}

.product-container {
  width: 70%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.product-container .product-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px 80px;
  flex-wrap: wrap;
}

.product-item {
  width: 25%;
}


/* Responsive */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .products-container {
    padding: 0;
    margin: 10px 0;
  }

  .products-container h1 {
    font-size: 22px;
  }

  aside {
    margin: 0;
  }

  aside h2 {
    font-size: 18px;
    border-bottom: 3px solid var(--dark-green);
  }

  label, input {
    font-size: 14px;
  }


  .product-container .product-list{
    gap: 80px 30px;
  }

  .product-item {
    height: 250px;
  }

  .add-product-btn {
    bottom: 0;
  }
  .pagination ul li {
    margin: 0 3px;
  }
  .pagination ul li span, .pagination ul li a {
    padding: 8px 14px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .products-container {
    padding: 0;
    margin: 10px 0;
  }

  .products-container h1 {
    font-size: 19px;
  }

  .products-content {
    gap: 10px;
  }
  
  /* Toggle filter */
  .products-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filter-toggle {
    display: block;
  }

  aside:not(aside.show-filter) {
    display: none;
  }

  aside.show-filter label, aside.show-filter input {
    font-size: 11px;
  }
  /* End Toggle filter */
  .product-container  {
    margin-top: 30px;
    width: 100%;
  }
  
  .product-container .product-list{
    gap: 60px 22px;
  }

  .product-item {
    height: 250px;
  }

  .add-product-btn {
    bottom: 0;
  }

  .pagination ul li {
    margin: 0 3px;
  }

  .pagination ul li span, .pagination ul li a {
    padding: 5px 10px;
    font-size: 11px;
  }
}


@media only screen and (max-width: 767px) {
  .products-container {
    padding: 0;
    margin: 10px 0;
  }

  .products-container h1 {
    font-size: 16px;
  }

  .products-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Toggle filter */
  .filter-toggle {
    display: block;
  }
  aside:not(aside.show-filter) {
    display: none;
  }
  /* End Toggle filter */

  .product-container {
    width: 100%;
    margin-top: 30px;
  }
  
  .product-container .product-list{
    gap: 60px 22px;
  }

  .product-item {
    padding: 10px;
    height: 250px;
  }

  .add-product-btn {
    bottom: 0;
  }

  .pagination ul li {
    margin: 0 3px;
  }

  .pagination ul li span, .pagination ul li a {
    padding: 5px 10px;
    font-size: 9px;
  }
}
